[Unit]
Description=Export OpenWeatherMap data to Prometheus
After=network.target auditd.service sssd.service

[Service]
EnvironmentFile=-/etc/default/prometheus-openweathermap-exporter
ExecStart=/usr/sbin/prometheus-openweathermap-exporter $OPTIONS
Restart=on-failure
User=prometheus
Group=prometheus

[Install]
WantedBy=multi-user.target

